@page
@using AcademicManagement
@model RegistrationModel
@{
    ViewData["Title"] = "Registration";
    var Students = DataAccess.GetAllStudents();
    var Courses = DataAccess.GetAllCourses();
    var StudentOptions = new SelectList(Students, "StudentId", "StudentName");

}

<h1 class="text-success">@ViewData["Title"]</h1>




<form method="post">
    <div>
        <div class="mt-3">
            <select asp-for="SelectedStudentId" asp-items="StudentOptions" class="btn btn-success btn-lg dropdown-toggle" id="StudentSelect" onchange="submitForm()">
                <option value="">Choose a Student</option>
            </select>
        </div>
    </div>
    <br />
    <div>
        <div>

            <button hidden="hidden" type="submit" class="btn btn-outline-success"  id="FetchStudentBtn" asp-page-handler="StudentSelected">Get Registrations</button>
         

        </div>
    </div>
    <div class="mt-3">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }

        @if (TempData["InfoMessage"] != null)
        {
            <div class="alert alert-info">
                @TempData["InfoMessage"]
            </div>
        }
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.SelectedStudentId))
    {
        @if (Model.RegisteredCourses.Count == 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Course Title</th>
                        <th>Course Code</th>
                        <th>Checkbox</th>
                </thead>
                <tbody>
                    @foreach (var course in Courses)
                    {
                        <tr>
                            <td>@course.CourseTitle</td>
                            <td>@course.CourseCode</td>


                            <td>
                                <input type="checkbox" name="SelectedCourses" value="@course.CourseCode" />
                            </td>

                        </tr>
                    }

                    <tr>
                        <td colspan="3">
                            <button type="submit" class="btn btn-outline-success" asp-page-handler="Register">Register</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Course Title</th>
                        <th>Course Code</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var index = 0; index < Model.RegisteredCourses.Count; index++)
                    {
                        var record = Model.RegisteredCourses[index];

                        var registeredCourse = Courses.First(course => course.CourseCode == record.CourseCode);


                        <tr>
                            <td>@registeredCourse.CourseCode</td>
                            <td>@registeredCourse.CourseTitle</td>
                            <td>
                                <input type="hidden" name="gradeRecords[@index].CourseCode" value="@record.CourseCode" />
                                <input type="text" name="gradeRecords[@index].Grade" value="@((record.Grade == -100.0) ? "" : record.Grade)" />
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
            <button type="submit" class="btn btn-outline-success" asp-page-handler="SubmitGrades">Submit Grades</button>

        }
    }
</form>
<script>
    document.getElementById("StudentSelect").addEventListener("change", submitForm);

    function submitForm() {
        document.getElementById("FetchStudentBtn").click();
    }
</script>